body{
        background: linear-gradient(to bottom, #5B2C6F, #2a5298);
        color: white;
        margin: 0;
        padding: 0;
 
}

.fascinate-inline-regular {
	font-family: 'Fascinate Inline', system-ui, sans-serif;
	font-weight: 400;
	font-style: normal;
}
.title {
	color: #592693;
}
h1 {
  text-align: center;
}
a {
   text-align: center;
}

.button {
	border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-style: normal;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.startButton {
  background-color: #DAA520;
  color: gold;
  border: 2px solid #FFD700;
  display: grid;
        place-items: center; /* Centers both horizontally and vertically */
        margin: 0;
	height: 100vh;
}

.startButton:hover {
	background-color: #FFD700;
	color: FFFF00
}
